@{
    ViewData["Title"] = "Home Page";
}

<body>
    <nav class="nav-lateral">
        <h2>Gêneros</h2>
        <ul>
            <li>
                <a href="#coisinhas">Contos</a>
            </li>
            <li>
                <a href="#coisinhas">Romances</a>
            </li>
            <li>
                <a href="#coisinhas">Poemas</a>
            </li>
            <li>
                <a href="#coisinhas">Aventuras</a>
            </li>
            <li>
                <a href="#coisinhas">Fantasias</a>
            </li>
            <li>
                <a href="#coisinhas">Suspenses</a>
            </li>
            <li>
                <a href="#coisinhas">Dramas</a>
            </li>
            <li>
                <a href="#coisinhas">Gibis</a>
            </li>
            <li>
                <a href="#coisinhas">Didaticos</a>
            </li>
            <li>
                <a href="#coisinhas">Religiosos</a>
            </li>
        </ul>
    </nav>
    <section class="lancamentos">
        <span>
            Lançamentos do mês
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                
            </div>
            <div class="books-lancamentos">

            </div>
            <div class="books-lancamentos">

            </div>
            <div class="books-lancamentos">

            </div>
            <div class="books-lancamentos">

            </div>
            <div class="books-lancamentos">

            </div>
        </div>

    </section>
    <section class="lancamentos">
        <span>
            Lançamentos do mês
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
        </div>

    </section>
    <section class="lancamentos">
        <span>
            Lançamentos do mês
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
        </div>

    </section>
</body>
