@{
    ViewData["Title"] = "Home Page";
}

<body>
    <nav class="nav-lateral">
        <h2>Gêneros</h2>
        <ul>
            <li class="ligeneros">
                <a href="#Contos">Contos</a>
            </li>
            <li>
                <a href="#Romances">Romances</a>
            </li>
            <li>
                <a href="#Poemas">Poemas</a>
            </li>
            <li>
                <a href="#Aventuras">Aventuras</a>
            </li>
            <li>
                <a href="#Fantasias">Fantasias</a>
            </li>
            <li>
                <a href="#Suspenses">Suspenses</a>
            </li>
            <li>
                <a href="#Dramas">Dramas</a>
            </li>
            <li>
                <a href="#Gibis">Gibis</a>
            </li>
            <li>
                <a href="#Didaticos">Didaticos</a>
            </li>
            <li>
                <a href="#Religiosos">Religiosos</a>
            </li>
        </ul>
    </nav>
    <section class="lancamentos">
        <span>
            Lançamentos do mês
        </span>
        <div class="container-books">
            
            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100"/>
                <p>Harry Potter</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Outsider</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>A arte da guerra</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Interestelar</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>A Culpa é das Estrelas</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>
    <section class="lancamentos">
        <span>
            Livros com melhor avaliação
        </span>

        <div class="container-books">
            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>É assim que acaba</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>É assim que começa</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Cidade do Sol</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Caçador de Pipas</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>O Paciente</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>
    <section id="Contos" class="lancamentos">
        <span>
            Contos
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>A Garota do Lago</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>
    <section id="Romances" class="lancamentos">
        <span>
            Romances
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>

    <section id="Poemas" class="lancamentos">
        <span>
            Poemas
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>

    <section id="Aventuras" class="lancamentos">
        <span>
            Aventuras
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>

    <section id="Fantasias" class="lancamentos">
        <span>
            Fantasias
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>

    <section id="Suspenses" class="lancamentos">
        <span>
            Suspenses
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>

    <section id="Dramas" class="lancamentos">
        <span>
            Dramas
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>

    <section id="Gibis" class="lancamentos">
        <span>
            Gibis
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>

    <section id="Didaticos" class="lancamentos">
        <span>
            Didaticos
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>

    <section id="Religiosos" class="lancamentos">
        <span>
            Religiosos
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>

            <div class="books-lancamentos">
                <img src="/imagens/book-icon.png" width="95" height="100" />
                <p>Indisponível</p>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Alugar </a>
                <a href="https://localhost:7295/Aluguels/Create" class="btn-alugar"> Comprar </a>
            </div>
        </div>

    </section>
</body>
