@{
    ViewData["Title"] = "Home Page";
}

<body>
    <nav class="nav-lateral">
        <h2>Gêneros</h2>
        <a class="nav-link text-dark" href="#coisinhas">Conto</a>
        <p> Romance </p>
        <p> Poema </p>
        <p> Aventura </p>
        <p> Fantasia </p>
        <p> Suspense </p>
        <p> Gibi </p>
        <p> Didático </p>
        <p> Drama </p>
        <p> Religioso </p>

    </nav>
    <section class="lancamentos">
        <span>
            Lançamentos do mês
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
                
            </div>
            <div class="books-lancamentos">

            </div>
            <div class="books-lancamentos">

            </div>
            <div class="books-lancamentos">

            </div>
            <div class="books-lancamentos">

            </div>
            <div class="books-lancamentos">

            </div>
        </div>

    </section>
    <section class="lancamentos">
        <span>
            Lançamentos do mês
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
        </div>

    </section>
    <section class="lancamentos">
        <span>
            Lançamentos do mês
        </span>
        <div class="container-books">

            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
            <div class="books-lancamentos">
            </div>
        </div>

    </section>
</body>
